
<form>
    <mat-form-field class="zied" appearance="fill" >
        <mat-label>nom</mat-label>
        <input matInput >
    </mat-form-field>
    

    <mat-form-field class="zied" appearance="fill" >
        <mat-label>prenom</mat-label>
        <input matInput >
    </mat-form-field>
 
    
    <mat-form-field class="zied" appearance="fill" >
        <mat-label>address</mat-label>
        <input matInput >
    </mat-form-field>

    <mat-form-field class="zied" appearance="fill" >
        <mat-label>numero de telephone</mat-label>
        <input matInput >
    </mat-form-field>


    <mat-form-field class="zied" appearance="fill" >
        <mat-label>e-mail</mat-label>
        <input matInput >
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button  class="btn btn-danger" (click)="onNoClick()">No Thanks</button>
        <button mat-button  class="btn btn-success">Ok</button>
      </div>
</form>
