

    #main {

    margin:auto;
    }
    #menu  {
    float:left;
    width:75%;
    background-color:#FF3366;
    }
    #contenu {
    margin-left:25%;
    height: 100%;
    background-color:#9966FF;
    }