div {
 
    text-align:center;
 
    }
 
div#menu {
 
    float:left;
 
    width:200px;
 
    height:400px;
 

 
    }
 
div#contenu {
 
    float:left;

    }
 
div#pied_page {
 
    clear:both;
 
    width:950px;
 
    height:50px;
 

 
    }