
<!--
<div id="bandeau"><app-navbar-back></app-navbar-back></div>
<div id="menu"><app-sidenav></app-sidenav></div>
 
<div id="contenu"><router-outlet></router-outlet></div>
<div id="pied_page"><app-footer-back></app-footer-back></div>
-->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div id="bandeau">
    <div style="display:none" id="mySidebar">

        <div id="menu"><app-sidenav></app-sidenav></div>
      </div>   
<div >
    <div class="divide">
        <button id="closeNav"
        (click)="w3_close()">&#9776;</button>
        <button id="openNav"  (click)="w3_open()">&#9776;</button>
    </div>
    <div>
        <app-navbar-back>
        </app-navbar-back>
    </div>

</div>
</div>
<div id="main">
 
    <div >
        <div id="contenu"><router-outlet></router-outlet></div>
      <div id="pied_page"><app-footer-back></app-footer-back></div>
    </div>
</div>
 
<!-- Sidebar 
<div>
    <div >
            <div style="display:none" id="mySidebar">
                <button class="w3-bar-item w3-button w3-large"
                (click)="w3_close()">Close &times;</button>
                <app-sidenav></app-sidenav>
              </div>   
        <div class="divide">
            <app-navbar-back>
            </app-navbar-back>
        </div>
    </div>
</div>

<div id="main">
      <button id="openNav" class="w3-button w3-teal w3-xlarge" (click)="w3_open()">&#9776;</button>
      <div class="w3-container">
        <div ><router-outlet></router-outlet></div>
        <div id="pied_page"><app-footer-back></app-footer-back></div>
      </div>
 </div>
 -->



