<section>
    <p-menubar [model]="items">
        <ng-template  pTemplate="start">
            <img src="assets/images.png" routerLink="/home" height="40" class="mr-2">
        </ng-template>
        <ng-template pTemplate="end">
            <i class="pi pi-shopping-cart mr-4 p-text-secondary" routerLink="/panier" pBadge style="font-size: 2rem" value="{{cartItem}}" severity="danger"></i>
            <p-chip label="zied lahbib" image="assets/images.png" styleClass="mr-2" (click)="menu.toggle($event)"></p-chip>
            <p-menu #menu [popup]="true" [model]="item"></p-menu>
        </ng-template>
    </p-menubar>
 
    
</section>