.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
//////////////////
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

///////////////////////////////////////
:host ::ng-deep .p-button {
    margin-right: .5rem;
}

:host ::ng-deep .p-buttonset {
    .p-button {
        margin-right: 0;
    }
}

:host ::ng-deep .sizes {
    .button {
        margin-bottom: .5rem;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 960px) {
    .p-button {
        margin-bottom: .5rem;

        &:not(.p-button-icon-only) {
            display: flex;
            width: 100%;
        }
    }

    .p-buttonset {
        .p-button {
            margin-bottom: 0;
        }
    }
}
