<section class="vh-100" style="background-color: rgba(15, 173, 235, 0.932);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
  
                  <form class="mx-1 mx-md-4">
  
                    <div class="grid p-fluid">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText placeholder="Username">         
                            </div>
                        </div>
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="password" pPassword />      
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                              <!-- Checkbox -->
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                              </div>
                            </div>
                        
                            <div class="col">
                              <!-- Simple link -->
                              <a href="#!">Forgot password?</a>
                            </div>
                          </div>
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                            <button pButton type="button" label="sign in" ></button>
                        </div>
                        
                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <button pButton type="button" label="continue with facbook" > 
                                <i class="pi pi-facebook"></i>
                            </button>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <button pButton type="button" label="continue with twitter" style="background-color: rgb(98, 192, 255);" >
                                <i class="pi pi-twitter"></i>
                            </button>
                        </div>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>