<div>
    <p-galleria [value]="images" [responsiveOptions]="responsiveOptions"    [numVisible]="5"> 
        <ng-template pTemplate="item" let-item [(ngModel)]="item" name="item" ngDefaultControl>
            <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
        </ng-template>
        <ng-template pTemplate="caption" let-item>
            <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
            <p>{{item.alt}}</p>
            <button pButton  label="En savoir plus" icon="pi pi-arrow-up-right" iconPos="right" class="p-button-success"></button >
        </ng-template>
    </p-galleria>
</div> 
<div>
    <p-carousel [value]="images" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h1 class="glow">--BEST SALES--</h1>
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img src="assets/téléchargement222.jpg" [alt]="product.title" class="product-image" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{product.name}}</h4>
                        <h6 class="mt-0 mb-3">${{product.price}}</h6>
                        <span [class]="'product-badge status-'+product.title.toLowerCase()">{{product.title}}</span>
                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-angle-double-right"></p-button>
                            <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-shopping-cart"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<div>
    <div style="padding:40px ;">
        <div class="example-header" style="margin-left: 50px">

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search" (keyup)="applyFilter($event)" />
            </span>
   
        </div>
        <br>
        <br>
        <br>
      <div class="row row-cols-1 row-cols-md-3">
       <div class="col mb-4"*ngFor="let t of imagesPagination">
         <div class="card h-100" >
           <img  src="{{t.previewImageSrc}}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title" style="font-weight: bold;font-size: 50px;">{{t.title}}</h5>
             <p class="card-text" style="color: rgb(63, 108, 108);">start date:{{t.title}}</p>
             <p class="card-text" style="color: red;">end date:{{t.title}}</p>
             <div class="card-body">
                <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-angle-double-right"></p-button>
                <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-shopping-cart"></p-button>
             </div>
           </div>
         </div>
       </div>
      </div>
             <div class="col-12" *ngIf="imagesPagination">
               <mat-paginator [length]="images.length" [pageSize]="6" [pageSizeOptions]="[6, 12, 18]" (page)="paginate($event)">
      
               </mat-paginator>
      
             </div>
      
      
      </div>
</div>
